{% extends "base.html" %}

{% block content %}
  <h1>
    {{ car.model }}
    <a href="{% url 'taxi:car-delete' pk=car.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>

    <a href="{% url 'taxi:car-update' pk=car.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
  <h1>Drivers</h1>
  <ul>
    {% for driver in car.drivers.all %}
      <li>{{ driver.user.username }} ({{ driver.user.first_name }} {{ driver.user.last_name }})</li>
    {% endfor %}
  </ul>

  <a href="{% url 'toggle-driver' car.id %}">
    {% if current_user_driver in car.drivers.all %}
        <button>Usuń mnie z tego samochodu</button>
    {% else %}
        <button>Przypisz mnie do tego samochodu</button>
    {% endif %}
  </a>

{% endblock %}
